/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Lora', serif;
}

.space1 {
	height: 30px;
}

.space2 {
	height: 5px;
}
a {
	width: 100%;
}